<%= back_link_to housesadmin_zonal_administration_house_path(@zonalAdministration, @house) %>

<div>
    <div id="printTable">
        <h2 style="text-align: center;"><strong><%= "Taller: #{@workshop.name}"%></strong></h2>
        <h4><strong><%= "Cupos disponibles: #{@workshop.quota}"%></strong></h4>
        <h4><strong><%= "Responsable: #{@workshop.teacher}"%></strong></h4>
        <h4><%= "Horario: #{@workshop.schedule}"%></h4>

        <% if @workshop_users.any? %>
            <table>
                <thead>
                    <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                    <th>Numero de identificación</th>
                    <th>Teléfono</th>
                    <th>En lista de espera</th>
                    <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <% @workshop_users.each do |workshop_user| %>
                        <% @users.where(:id => workshop_user.id_user).each do |user| %>
                            <tr>
                                <td>
                                <%= user.username %>
                                </td>
                                <td>
                                <%= user.userlastname %>
                                </td>
                                <td>
                                <%= user.email %>
                                </td>
                                <td>
                                <%= user.document_number %>
                                </td>
                                <td>
                                <%= user.phone_number %>
                                </td>
                                <td>
                                <% if workshop_user.status == 1 %>
                                    <p><%= link_to "inscrito", edit_housesadmin_zonal_administration_house_workshop_workshop_user_path(@zonalAdministration,
                                         @house, @workshop, workshop_user)%></p>
                                <% else %>
                                    <p><%= link_to "en espera", edit_housesadmin_zonal_administration_house_workshop_workshop_user_path(@zonalAdministration,
                                         @house, @workshop, workshop_user)%></p>
                                <% end %>
                                </td>
                                <td>
                                    <%= link_to "eliminar",
                                        housesadmin_zonal_administration_house_workshop_workshop_user_path(@zonalAdministration,
                                         @house, @workshop, workshop_user),
                                        method: :delete, class: "button hollow alert",
                                        data: {confirm: "Eliminar inscripción de #{user.username}?"} %>
                                </td>
                            </tr>
                        <% end %>
                    <% end %>
                </tbody>
            </table>

        <% else %>
            <h2>No existen usuarios inscritos en este taller</h2>
        <% end %>
    </div>

    <button id="buttonPrint" class="button warning expanded">Imprimir</button>

</div>
<script>
    function printData()
    {
        var divToPrint = document.getElementById("printTable");
        newWin= window.open("");
        newWin.document.write(divToPrint.outerHTML);
        newWin.print();
        newWin.close();
    }

    $('#buttonPrint').on('click',function(){
        printData();
    })
</script>