<% provide :title do %><%= t("polls.index.title") %><% end %>
<% content_for :canonical do %>
  <%= render "shared/canonical", href: polls_url %>
<% end %>

<%= render "shared/section_header", i18n_namespace: "polls.index.section_header", image: "polls" %>

<div class="row">
  <div class="small-12 column">
    <%= render 'shared/filter_subnav', i18n_namespace: "polls.index" %>

    <% if @polls.any? %>
      <% polls_by_geozone_restriction = @polls.group_by(&:geozone_restricted) %>

      <% if polls_by_geozone_restriction[false].present? %>
        <h3 class="section-title-divider">
          <span><%= t("polls.index.no_geozone_restricted") %></span>
        </h3>
        <%= render partial: 'poll_group', locals: {poll_group: polls_by_geozone_restriction[false]} %>
      <% end %>

      <% if polls_by_geozone_restriction[true].present? %>
        <h3 class="section-title-divider">
          <span><%= t("polls.index.geozone_restricted") %></span>
        </h3>
        <%= render partial: 'poll_group', locals: {poll_group: polls_by_geozone_restriction[true]} %>
      <% end %>

      <%= paginate @polls %>
    <% else %>
      <div class="callout primary margin-top">
        <%= t("polls.index.no_polls") %>
      </div>
    <% end %>

    <div id="section_help" class="margin" data-magellan-target="section_help">
      <p class="lead">
        <strong>¿Cómo participar en las Votaciones?</strong>
      </p>
      
      <p><%= link_to new_user_registration_path, accesskey: "0" do %><%= "Regístrate" %><% end %> para poder votar por una Idea Ciudadana y también por las propuestas
      que el Municipio del Distrito Metropolitano de Quito (DMQ) te proponga. Toma decisiones
      sobre la gestión y proyectos municipales de forma directa.</p>
      <p>Las votaciones se convocan cuando una Idea Ciudadana alcanza el 0.25% de apoyos respecto a la población del censo del DMQ (2’239.191 de habitantes - INEC, 2010) y cuentan con factibilidad técnica realizada por la entidad municipal correspondiente.
       En las votaciones también se pueden incluir propuestas que el Municipio de Quito somete a decisión directa de la ciudadanía.</p>
      <p>Para participar en la próxima votación, regístrate en <%= link_to new_user_registration_path, accesskey: "0" do %><%= setting["org_name"] %><% end %> y verifica tu cuenta. 
      Pueden votar todas las personas del DMQ mayores de 16 años.</p>
      <p>Los resultados de todas las votaciones serán de obligatorio cumplimiento para el Municipio.</p>

    </div>
  </div>
</div>
