<%= back_link_to admin_zonal_administration_house_workshop_path(@zonalAdministration, @house, @workshop) %>
<div class="row">
    <h2 class="inline-block">Editar Estado</h2>
    <%= form_for [:admin, @zonalAdministration, @house, @workshop, @workshopUser]  do |f| %>
        <%= render 'shared/errors', resource: @workshopUser %>

        <%= f.label :status, "Estado" %>
        <%= f.select :status, options_for_select([["en espera", 0],["inscrito", 1]], :selected => @selectStatus), {label: false},{}%>

        <%= f.submit "Guardar" %>
    <% end %>
</div>