<%= form_for [:admin, @zonalAdministration, @house, @houseImage]  do |f| %>
  <%= render 'shared/errors', resource: @houseImage %>

  <%= f.hidden_field :photo, value: '' %>
  <%= render 'images/admin_image', imageable: @houseImage, f: f %>
  <span><small style='font-weight: normal;'>
  (La imagen es opcional, peso máximo: 1MB, tamaño minimo: 475px X 475px, formato: .jpg)
  </small></span>

  <%= f.hidden_field :house_id, value: @house.id %>
  <br><br>
  <%= f.submit "Guardar" %>

<% end %>