<td style="padding-bottom: 20px; padding-left: 10px;">
  <h1 style="font-family: 'Open Sans','Helvetica Neue',arial,sans-serif;">
    <%= Setting['org_name'] %>
  </h1>

  <p>El/la participante <%= @user.username %> <%= @user.userlastname %>, con cédula <%= @user.document_number %>, 
    se ha inscrito en el taller <%= @workshop.name %>, en el horario <%= @workshop.schedule %>; de la Casa Somos 
    <%= @house.name %>.

</td>
