<%= back_link_to admin_volunt_categories_path %>
<div class="row">
    <h2 class="inline-block">Programas de <%= @volunt_category.name %></h2>

        <% if @volunt_programs.any? %>
        <%= link_to "Crear nuevo programa",
                    new_admin_volunt_category_volunt_program_path(@volunt_category),
                    class: "button float-right margin-right" %>
        <table>
            <thead>
                <tr>
                <th>ID</th>
                <th>Programa</th>
                <th>Editar programa</th>
                <th>Eliminar programa</th>
                <th>Ver inscritos</th>
                </tr>
            </thead>
            <tbody>
                <% @volunt_programs.each do |program| %>
                <tr id="<%= dom_id(program) %>" class="budget">
                    <td>
                    <%= program.id %>
                    </td>
                    <td class="small">
                    <%= program.title %>
                    </td>
                    <td>
                        <%= link_to "editar programa",
                            edit_admin_volunt_category_volunt_program_path(@volunt_category, program),
                            class: "button hollow medium" %>
                    </td>
                    <td>
                        <%= link_to "eliminar",
                            admin_volunt_category_volunt_program_path(@volunt_category, program),
                            method: :delete, class: "button hollow alert",
                            data: {confirm: "Eliminar #{program.title}?"} %>
                    </td>
                    <td><%= link_to "ver inscritos",
                            admin_volunt_category_volunt_program_path(@volunt_category, program),
                            class: "button hollow medium" %>
                    </td>
                </tr>
                <% end %>
            </tbody>
        </table>

    <% else %>
        <%= link_to "Crear vuevo programa",
                    new_admin_volunt_category_volunt_program_path(@volunt_category),
                    class: "button float-right margin-right" %>
        <h2>No hay ningún programa en esta categoría</h2>
    <% end %>

</div>
