<% provide :title do %><%= t('pages.titles.conditions') %><% end %>
<% content_for :canonical do %>
  <%= render "shared/canonical", href: page_url("conditions") %>
<% end %>

<div class="row margin-top">

  <div class="small-12 medium-9 column">
    <h1><%= t("pages.conditions") %></h1>
    <h2>AVISO LEGAL SOBRE LAS CONDICIONES DE USO, PRIVACIDAD Y PROTECCIÓN DE DATOS PERSONALES DE LA PLATAFORMA</h2>
    <p>Utilízalo en tu municipio</p>
    <p>Utilízalo en tu municipio libremente o ayúdanos a mejorarlo, es software libre. Esta Plataforma usa la aplicación 
     <%= link_to "CONSUL", "https://github.com/consul/consul"%> que es software libre, con licencia <%= link_to "AGPLv3",
      "http://www.gnu.org/licenses/agpl-3.0.html"%>, esto significa en palabras sencillas, que cualquiera puede libremente
     usar el código, copiarlo, verlo en detalle, modificarlo, y redistribuirlo al mundo con las modificaciones que quiera
     (manteniendo el que otros puedan a su vez hacer lo mismo). Porque creemos que la cultura es mejor y más rica cuando se libera. </p>
     <p>Si eres programador, puedes ver el código y ayudarnos a mejorarlo en aplicación <%= link_to "CONSUL", "https://github.com/consul/consul"%>. </p>
  </div>

  <div class="small-12 medium-3 column">
    <%= render '/shared/print' %>
  </div>
</div>
