<div class="card small-12 medium-6 column margin-bottom end" data-equalizer-watch>
  <%= link_to "http://www.quitoinforma.gob.ec/2018/09/27/unete-a-la-red-de-voluntariado-quito-accion/" do %>
    <figure class="figure-card">
      <div class="gradient"></div>
        <%= image_tag "destacadoQuitoAccion.png" %>
      <figcaption>
        <span><%= "Voluntariado" %></span><br>
        <h3><%= "Únete a la red de voluntariado distrital, Quito Acción" %></h3>
      </figcaption>
    </figure>
    <p class="description">Quito Acción es un proyecto de la Alcaldía de Quito enfocada en promover el voluntariado
     juvenil en el Distrito Metropolitano, a través de programas de formación y vinculación de los jóvenes en
      actividades comunitarias, deportivas, ambientales, culturales, de emprendimiento, gastronómicas, entre otras.
       Actualmente, la red de voluntariado cuenta con más de 2 700 jóvenes participantes.</p>
    <p>Ir a la noticia</p>
  <% end %>
</div>

<div class="card small-12 medium-6 column margin-bottom end" data-equalizer-watch>
  <%= link_to "http://www.quitoinforma.gob.ec/2018/09/27/6-casas-somos-nuevas-en-2018/" do %>
    <figure class="figure-card">
      <div class="gradient"></div>
        <%= image_tag "destacadoCasaSomos.png" %>
      <figcaption>
        <span><%= "Casa Somos" %></span><br>
        <h3><%= "6 Casas Somos Nuevas en el 2018" %></h3>
      </figcaption>
    </figure>
    <p class="description">La Alcaldía de Quito, a través de la Secretaría General de Coordinación Territorial
     y Participación Ciudadana, ha ejecutado en cinco años consecutivos el proyecto Casas Somos Quito, enfocado
      en el fortalecimiento del tejido social y la participación de la ciudadanía, a través de talleres gratuitos
       y cogestionados por la comunidad. Este año, se inauguraron las Casas Somos Pacto y Guayllabamba; y hasta
        diciembre se abrirán al público las Casas Somos de Las Diversidades, Píntag, Bicentenario y Puengasí.</p>
    <p>Ir a la noticia</p>
  <% end %>
</div>