<div class="row section-content">
  <div class="small-12 column">
    <h3 id="budgets" data-magellan-target="budgets">
      <%= t("pages.help.budgets.title") %>
    </h3>
    <p class="lead">
      <strong>¿Qué son los Presupuestos Participativos?</strong>
    </p>
    <p>Es un mecanismo de participación ciudadana que le permite a la ciudadanía
      decidir qué obras y proyectos sociales se realizarán en sus barrios, a través
      de las asambleas parroquiales de <%= link_to "http://gobiernoabierto.quito.gob.ec/?page_id=2098",
        accesskey: "0" do %><%= "presupuestos participativos" %><% end %>.</p>
    <p>Cada año la comunidad toma decisión sobre al menos el 60% del presupuesto zonal
      de inversión que se destinará a la ejecución de obra pública, programas y proyectos sociales.</p>
    <p>Su implementación se realiza de conformidad con lo establecido en la 
    <%= link_to "http://www7.quito.gob.ec/mdmq_ordenanzas/Ordenanzas/ORDENANZAS%20MUNICIPALES%202016/ORDM%20-%20102%20%20%20%20%20%20%20Sistema%20Metropolitano%20de%20Participaci%C3%B3n%20Ciudadana%20y%20Control%20Social%20-%20Sustitutiva%20ORDM-187.pdf",
      accesskey: "0" do %><%= "Ordenanza Metropolitana N° 102 (2016)" %><% end %>.</p>
    <p>Para facilitar el seguimiento y control ciudadano, la información sobre las obras implementadas
      y proyectos de desarrollo social como parte del presupuesto participativo, serán difundidos a través
      de la plataforma de participación ciudadana <%= link_to root_path, accesskey: "0" do %>
      <%= setting["org_name"] %><% end %>. 
      Además, podrás ver las actas de presupuestos participativos a través del siguiente link: 
      <%= link_to "http://gobiernoabierto.quito.gob.ec/?page_id=3251", "http://gobiernoabierto.quito.gob.ec/?page_id=3251" %></p>
  </div>
</div>
